body {
  box-sizing: border-box;
  background-color: #eee;
}

* {
  box-sizing: inherit;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

@media (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}